<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.authrole.mapper.RoleMapper">

    <resultMap id="PermissionResultMap" type="org.example.authrole.entity.Permission">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="menuType" column="type"/>
        <result property="code" column="code"/>
        <result property="path" column="path"/>
        <result property="parentId" column="parent_id"/>
        <result property="sort" column="sort"/>
        <result property="createTime" column="create_time"/>

    </resultMap>
    <insert id="authRole" parameterType="org.example.authrole.dto.AuthRoleDTO">
        INSERT INTO role_permission (role_id,permission_id)
        VALUES
        <foreach collection="permissionIds" item="permissionId" separator=",">
            (#{roleId},#{permissionId})
        </foreach>
    </insert>




</mapper>
